a {color: #aaa}

.settings-section {
    & > hr {
        display: none
    }
    & ~.settings-section > hr {
        display: block;
        @apply mt-6;
    }
    & p {
        text-align: justify;
    }
}

.settings-item-margin {
    @apply mr-2;
    @apply grid;
}

.settings-item {
	@apply grid grid-cols-[auto_1fr_auto] items-center;
    @apply mr-2;

    &.inverse {
        @apply grid-cols-[1fr_auto_1fr];
        @apply ml-3;
        @apply mr-5;
    }

    & > hr {
        @apply w-full;
        @apply text-transparent bg-transparent;
        @apply border-1 border-dashed border-[#41474b];
    }
}

.setting {
	@apply mx-3 my-2;
}

.sidenote {
    color: #aaa;
    @apply text-sm;
}